<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">；
    <title>交际与口才协会后台管理——评论管理</title>
    <th:block th:include="Admin/common.html :: source"></th:block>
</head>
<body>

<div class="layui-layout layui-layout-admin">
    <th:block th:include="Admin/common.html :: top"></th:block>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">用户管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/jjykcxh/admin/user/manageuser">管理用户</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item ">
                    <a href="javascript:;">新闻管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/jjykcxh/admin/news/edit">发布新闻</a></dd>
                        <dd><a href="/jjykcxh/admin/news/manage">管理新闻</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">通知管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/jjykcxh/admin/notice/edit">新增通知</a></dd>
                        <dd><a href="/jjykcxh/admin/notice/manage">管理通知</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">评论管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/jjykcxh/admin/comment/manage">管理评论</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">相册管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/jjykcxh/admin/album/create">新建相册</a></dd>
                        <dd><a href="/jjykcxh/admin/album/manage">管理相册</a></dd>
                        <dd><a href="/jjykcxh/admin/album/picmanage">相册图片管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item ">
                    <a href="javascript:;">图片管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/jjykcxh/admin/lbt/manage">图片管理</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body site-demo-flow" style="top:80px" id="LAY">
        <!-- 内容主体区域 -->
        <div class="research layui-inline">
            <div class="layui-inline">
                <input class="layui-input" name="keyword" placeholder="输入内容进行搜索" id="demoReload" autocomplete="off">
            </div>
            <button class="layui-btn layui-btn-sm search" data-type="reload">搜索</button>
        </div>
        <table class="layui-hide" id="test" lay-filter="test"></table>
    </div>

    <th:block th:include="Admin/common.html :: footer"></th:block>
</div>

<th:block th:include="Admin/common.html :: js"></th:block>
<script>
    layui.use(['element', 'layer', 'util'], function () {
        var element = layui.element
            , layer = layui.layer
            , util = layui.util
            , $ = layui.$;
        //头部事件
        util.event('lay-header-event', {
            //左侧菜单事件
            menuLeft: function (othis) {
                layer.msg('展开左侧菜单的操作', {icon: 0});
            }
            , menuRight: function () {
                layer.open({
                    type: 1
                    , content: '<div style="padding: 15px;">处理右侧面板的操作</div>'
                    , area: ['260px', '100%']
                    , offset: 'rt' //右上角
                    , anim: 5
                    , shadeClose: true
                });
            }
        });
    });
</script>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container layui-inline">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
    </div>

</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    layui.use('table', function () {
        var table = layui.table;
        table.render({
            elem: '#test'
            , url: '/jjykcxh/comment/getAll'
            , page: false
            , id:'testReload'
            , height: 'full-173'
            , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                , layEvent: 'LAYTABLE_TIPS'
                , icon: 'layui-icon-tips'
            }]
            , title: '用户数据表'
            , cellMinWidth: 80
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'commentId', title: '评论id', sort: true}
                    , {field: 'commentContext', title: '评论内容',}
                    , {field: 'updateTime', title: '评论时间', sort: true}
                    , {field: 'newsId', title: '所在新闻id', sort: true}
                    , {field: 'albumId', title: '所在相册id', sort: true}
                    , {field: 'repliedCommentId', title: '回复的评论id'}
                    , {field: 'userId', title: '发布用户id', sort: true}
                    , {fixed: 'right', align: 'center', toolbar: '#barDemo'}
                ]
            ]
            , parseData: function (res) {
                return {
                    "code": 0,
                    "msg": res.msg,
                    "count": res.other.count,
                    "data": res.other.comments
                };

            }
        });

        //搜索框
        var $ = layui.$, active = {
            reload: function(){
                var demoReload = $('#demoReload');
                //执行重载
                table.reload('testReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        keyword: demoReload.val()
                    }
                });
            }
        };

        $('.research .search').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });


        //头工具栏事件
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选' : '未全选');
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            };
        });

        //监听行工具事件
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('确定删除本条评论吗，连带它的相关的回复一并删除', function (index) {
                    $.ajax({
                        url: "/jjykcxh/comment/deleteCommentById",
                        data: "commentId=" + data.commentId+"&albumId=0",
                        type: "POST",
                        success: function (result) {
                            if (result.code == 200) {
                                layer.msg("删除成功！")
                                obj.del();
                            } else if (result.code == 400) {
                                layer.msg('删除失败！');
                            }
                            layer.close(index);
                        }
                    });
                });
            }
        });
    });

    function reloadPage(){
        window.location.reload();
    }
    layui.use('flow', function () {
        var flow = layui.flow;

        flow.lazyimg({
            elem: '#LAY tr'
            //一般不用设置，此处只是演示需要。
        });
    });


</script>
</body>
</html>