<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">


<div th:fragment="source">
    <link rel="stylesheet" type="text/css" href="/jjykcxh/static/css/menu.css">
    <link rel="stylesheet" type="text/css" href="/jjykcxh/static/css/column.css">
    <link rel="stylesheet" type="text/css" href="/jjykcxh/static/bootstrap-3.3.7-dist/css/bootstrap.css">

    <script src="/jjykcxh/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="/jjykcxh/static/js/jquery-1.8.2.min.js"></script>
    <link rel="icon" href="/jjykcxh/static/img/favicon.ico" type="images/x-ico"/>
</div>

<div th:fragment="header">
    <div class="head">
        <a href="/jjykcxh" title="成都大学交际与口才协会欢迎您！"><img src="/jjykcxh/static/img/clubphoto.jpg" id="top"
                                                                      width="140px"
                                                                      height="140px"
                                                                      style="float:left; border-radius: 50%;"></a>
        <h2 class="title">成都大学交际与口才协会</h2>
    </div>
</div>

<div th:fragment="top_nav">
    <div class="top">
        <div class="topnav">
            <ul>
                <li><a href="/jjykcxh">交协首页</a></li>
                <li><a href="#">走近交协</a>
                    <ul>
                        <li><a href="#">协会简介</a></li>
                        <li><a href="#">部门简介</a></li>
                    </ul>
                </li>
                <li><a href="#">交协要闻</a>
                    <ul>
                        <li><a href="/jjykcxh/news.html">新闻速递</a></li>
                        <li><a href="/jjykcxh/notice.html">通知公告</a></li>
                    </ul>
                </li>
                <li><a href="https://www.cdu.edu.cn/">成大官网</a></li>
                <li style="float:right" th:if="${session.userInfo==null}"><a href="/jjykcxh/login.html">登录/注册</a></li>
                <li style="float:right" th:if="${session.userInfo!=null}"><a href="/jjykcxh/logout">注销</a></li>
                <li style="float:right" th:if="${session.userInfo!=null}"><a id="wel" href="#" th:text="'您好,'+${session.userInfo.userName}"></a>
                    <ul>
                        <li><a href="#">我的信息</a></li>
                        <li><a href="#">资料设置</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="displayed" th:if="${session.userInfo!=null}" th:text="${session.userInfo.userName}"></div>
    <div class="displayed" th:if="${session.userInfo==null}">0</div>
</div>

<div th:fragment="news_container">
    <div class="cococo">
        <div class="column side"></div>
        <div class="column middle">
            <br><br>
            <div>
                <div th:text="'作者:'+${news.authorName}"></div>
                <span th:text="'发布时间:'+${updateTime}"></span>
            </div>
            <br><br>
            <div class="gap"></div>
            <h2 style="text-align: center;" th:text="${news.newsTitle}"></h2><br><br>
            <br>
            <div id="news_conent" th:text="${news.newsContext}"></div>
            <div class="gap"></div>
            <div class="gap"></div>
            <div class="gap"></div>
            <div class="title_2">留言</div>
            <div class="gap"></div>
            <div class="gap"></div>
            <div class="gap"></div>
            <div class="commentAll">
                <!--评论区域 begin-->
                <div class="reviewArea clearfix">
                    <textarea class="content comment-input" placeholder="Please enter a comment&hellip;" onkeyup="keyUP(this)"></textarea>
                    <a href="javascript:;" class="plBtn">评论</a>
                </div>
                <!--评论区域 end-->
                <!--回复区域 begin-->
                <div class="comment-show">
                </div>
                <!--回复区域 end-->
            </div>
        </div>
        <div class="column side"></div>
    </div>
</div>
<div th:fragment="notice_container">
    <div class="cococo">
        <div class="column side"></div>
        <div class="column middle">
            <br><br>
            <div>
                <span th:text="'发布时间:'+${updateTime}"></span>
            </div>
            <br><br>
            <div class="gap"></div>
            <h2 style="text-align: center;" th:text="${notice.noticeTitle}"></h2><br><br>
            <br>
            <div id="news_conent" th:text="${notice.noticeContext}"></div>
            <div class="gap"></div>
            <div class="gap"></div>
            <div class="gap"></div>
            <div class="title_2">留言</div>
            <div class="gap"></div>
            <div class="gap"></div>
            <div class="gap"></div>
            <div class="commentAll">
                <!--评论区域 begin-->
                <div class="reviewArea clearfix">
                    <textarea class="content comment-input" placeholder="Please enter a comment&hellip;" onkeyup="keyUP(this)"></textarea>
                    <a href="javascript:;" class="plBtn">评论</a>
                </div>
                <!--评论区域 end-->
                <!--回复区域 begin-->
                <div class="comment-show">
                </div>
                <!--回复区域 end-->
            </div>
        </div>
        <div class="column side"></div>
    </div>
</div>
<div th:fragment="footer">
    <div class="bktop"><a href="#">↑<br>回到顶部</a></div>
    <div class="footer">
        <div style="width:700px; height:150px; padding-bottom: 0; ">
            <div class="logo"><img src="/jjykcxh/static/img/clubphoto.jpg" width="100" height="100"><span
                    style="float:right; text-align: center; padding-top: 45px;">&nbsp;&nbsp;交际与口才协会&nbsp;&nbsp;</span></div>
            <div style="float:left ; text-align: center; width: 1px;height: 120px; background: grey;"></div>
            <div class="contact"><span>&nbsp;&nbsp;&nbsp;&nbsp;版权所有©2019-2020 @成都大学交际与口才协会</span><br><span>&nbsp;&nbsp;&nbsp;&nbsp;地址： 成都市成洛大道2025号第六号教学楼 </span><br><span>&nbsp;&nbsp;&nbsp;&nbsp;电话：028-84616300 邮编：610106</span>
            </div>
        </div>
    </div>
</div>
</html>