<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="Author" content="">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <title>成都大学交际与口才协会官网</title>
    <link rel="icon" href="/jjykcxh/static/img/favicon.ico" type="images/x-ico"/>
    <link rel="stylesheet" type="text/css" href="/jjykcxh/static/css/menu.css">
    <link rel="stylesheet" type="text/css" href="/jjykcxh/static/css/column.css">
    <link rel="stylesheet" href="/jjykcxh/static/layui/css/layui.css"  media="all">
</head>
<body>
<div class="head"><a href="/jjykcxh" title="成都大学交际与口才协会欢迎您！"><img src="/jjykcxh/static/img/clubphoto.jpg" id="top"
                                                                  width="140px"
                                                                  height="140px"
                                                                  style="float:left; border-radius: 50%;"></a>
    <h2 class="title">成都大学交际与口才协会</h2></div>
<th:block th:include="common.html :: top_nav"></th:block>
<div id="lbk" style="position: relative" align="center">
    <div id="bg" style="position: absolute;left: 0;top:0">
    </div>
<div class="layui-carousel" style="position: relative;" id="test1"  lay-filter="test1">
    <div id="citem" carousel-item>
    </div>
</div>

</div>
<script src="/jjykcxh/static/js/getTime.js"></script>
<div class="clock"><img style="float: left;" src="/jjykcxh/static/img/clock.png">
    <p id="txt" style="float:left"></p><img style="float: right;" src="/jjykcxh/static/img/baozhu.jpg">
    <p style="float:right" id="days"></p></div>
<div class="cococo">
    <div class="column side">
        <div class="title_L">音乐分享</div>
        <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=100% height=520
                src="http://music.163.com/outchain/player?type=0&id=3126958414&auto=0&height=430"></iframe>
        <hr class="layui-border-orange">
        <fieldset class="layui-elem-field">
            <legend>联系我们<i class="layui-icon layui-icon-group" style="font-size: 20px; color: #61c8ff;"></i></legend>
            <div class="layui-field-box" style="text-align: center">
                <div style="margin: 0 auto">
                <a title="暂时还么有公众号噢"><i class="layui-icon layui-icon-login-wechat" style="font-size: 30px; color: #81d741;"></i></a>
                    &nbsp;&nbsp;
                    <a target="blank" rel="external nofollow"
                       href="http://wpa.qq.com/msgrd?V=3&uin=1037211029&Site=QQ&Menu=yes"
                       title="QQ在线"><i class="layui-icon layui-icon-login-qq" style="font-size: 30px; color: #0185fb;"></i></a>
                    &nbsp;&nbsp;
                    <a title=""
                       href="https://weibo.com/3317207972"
                       target="_blank" rel="external nofollow"><i class="layui-icon layui-icon-login-weibo" style="font-size: 30px; color: #ff432e;"></i></a>
                </div>
            </div>
        </fieldset>

    </div>
    <div class="column middle">
        <div class="title_1">交协要闻 <span style="float:right"><a href="/jjykcxh/news.html"
                                                               style="text-decoration: none; color:rgb(92, 77, 77)">更多</a></span>
        </div>
        <div id="news_area">
        </div>
        <br><br>
        <div class="gap"></div>
        <div class="gap"></div>
        <div class="title_2">通知公告<span style="float:right"><a href="/jjykcxh/notice.html"
                                                              style="text-decoration: none; color:rgb(92, 77, 77)">更多</a></span>
        </div>
        <div id="notice_area">
        </div>
        <div style="width: 100%;height:60px;"></div>
        <br><br>
        <div class="gap"></div>
        <br><br>
        <div class="gap"></div>
    </div>
    <div class="column side">
        <div class="title_R"><a href="/jjykcxh/album/index" style="text-decoration: none;color: grey">交协印象</a></div>
        <div id="right_column">

        </div>
    </div>
</div>
<div style="background-image: linear-gradient(to right,white, rgb(226, 226, 179));padding: 1px;text-align: center;padding-top: 40px;;height:220px;width: 100%;">
    <div id="lcont" style="width:700px; height:150px; padding-bottom: 0; ">
        <div style="  text-shadow:3px 3px 3px rgb(243, 220, 10);
    color: rgb(231, 158, 22);
    font-family: 华文行楷;
    font-size: 25px;
    float:left;
    position: relative;"><img style="border-radius: 50%;" src="/jjykcxh/static/img/clubphoto.jpg" width="100" height="100"><span
                style="float:right; text-align: center; padding-top: 38px;">&nbsp;&nbsp;交际与口才协会&nbsp;&nbsp;</span></div>
        <div style="float:left ; text-align: center; width: 1px;height: 120px; background: grey;"></div>
        <div id="footspan" style="  padding-top: 22px;
  font-family: 微软雅黑;
    font-size: 15px;
    float:left;"><span>&nbsp;&nbsp;&nbsp;&nbsp;版权所有©2019-2021 @成都大学交际与口才协会</span><br><span>&nbsp;&nbsp;&nbsp;&nbsp;地址： 成都市成洛大道2025号第六号教学楼 </span><br><span>&nbsp;&nbsp;&nbsp;&nbsp;电话：028-84616300 邮编：610106</span>
        </div>
    </div>
</div>
<script src="https://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<script src="/jjykcxh/static/layui/layui.js" charset="utf-8"></script>
<script>
    $.ajax({
        url:'/jjykcxh/pics/getPicsByType',
        type:"GET",
        data:'type=0',
        success:function (result) {
            var pics=result.other.pics;
            var ht='';
            $.each(pics,function (index,item) {
                ht+='<div><img src="'+item.src+'" style="width: 100%;height:auto"></div>'
            });
            $('#citem').html(ht);
            layui.use('carousel', function(){
                var carousel = layui.carousel;
                //建造实例
                carousel.render({
                    elem: '#test1'
                    ,width: '950px' //设置容器宽度
                    ,height:'100%'
                    ,arrow: 'hover'
                    ,interval:6000
                });
                bkp=$('.layui-this img').attr("src");
            });
        }
    });


    var carousel = layui.carousel;
    //触发轮播切换事件
    carousel.on('change(test1)', function(obj){ //test1来源于对应HTML容器的 lay-filter="test1" 属性值
        var s=obj.item.find('img').attr("src");
        var nbkp='url('+s+')';
        $('#bg').css("background-image",nbkp);
    });

    layui.use(['util','layer'], function() {

        var util = layui.util,
        layer = layui.layer;
        util.fixbar({
            bar1: false
            ,bar2: false
            ,css: {right: 15, bottom: 50}
            ,bgcolor: '#a4a4a4'
            ,click: function(type){
                if(type === 'bar1'){
                    layer.msg('icon 是可以随便换的')
                } else if(type === 'bar2') {
                    layer.msg('两个 bar 都可以设定是否开启')
                }
            }
        });
    });

</script>
</body>

<script>
    $(function () {

        displayNewsInfo();
        displayNoticeInfo();
        displayAlbumInfo();

    });


    function displayAlbumInfo() {
        $.ajax({
            url: "/jjykcxh/album/getAll",
            type: "GET",
            success: function (result) {
                var firstpicname;
                var albums = result.other.albums;
                var s = '';
                $.each(albums, function (index, item) {
                    if(index>=3){
                        return;
                    };
                    var c_nums = item.c_count;
                    if(item.pics.length==0){firstpicname='mark.jpg'}
                    else{firstpicname= item.pics[0].picName;};
                    s += '<div class="photos"><div class="polaroid"><a target="_blank" href="/jjykcxh/album/index#'+item.albumId+'"><img src="http://120.78.196.234/resource/jjykcxh/album/' + firstpicname+'"></a><div class="desc">' + item.albumName + '</div></div></div>';
                });
                $("#right_column").html(s);
            }
        })

    }

    function displayNewsInfo() {
        var pn = 1;
        $.ajax({
            url: "/jjykcxh/news/getNews",
            data: "pn=" + pn,
            type: "GET",
            success: function (result) {
                var news = result.other.pageInfo.list;
                var str = '';
                $.each(news, function (i, item) {
                    var newsUrl = "/jjykcxh/news/detail?newsId=" + item.newsId;
                    var imgSrc = "./static/img/laba.png"
                    var updateTime = item.updateTime;
                    str += '<div class="news"><img src="' + imgSrc + '"><a href="' + newsUrl + '">' + item.newsTitle + '</a><span>' + updateTime + '</span></div>';
                });
                $("#news_area").html(str);
            }
        });
    }

    function displayNoticeInfo() {
        var pn = 1;
        $.ajax({
            url: "/jjykcxh/notice/getNotices",
            data: "pn=" + pn,
            type: "GET",
            success: function (result) {
                var notices = result.other.pageInfo.list;
                var str = '';
                $.each(notices, function (i, item) {
                    var noticeUrl = "/jjykcxh/notice/detail?noticeId=" + item.noticeId;
                    var imgSrc = "./static/img/laba.png"
                    var updateTime = item.updateTime;
                    str += '<div class="news"><img src="' + imgSrc + '"><a href="' + noticeUrl + '">' + item.noticeTitle + '</a><span>' + updateTime + '</span></div>';
                });
                $("#notice_area").html(str);
            }
        });
    }
</script>
</html>